<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>样式绑定</title>
    <script src="./vue.js"></script>
    <style>
        .activated  {
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div @click="HandleDivClick"
            :style="[StyleObj,{fontSize: '40px'}]">
            Hello,world
        </div>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
   <div id="example-4">
        <input type="radio" id="one" value="One" v-model.number="picked" type="number">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <div id="example-5">
        <select v-model.lazy="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
   <div id="example-6" >
       <select v-model="selected" multiple style="width: 50px;">
           <option>A</option>
           <option>B</option>
           <option>C</option>
       </select>
       <br>
       <span>Selected: {{ selected }}</span>
   </div>
   <div id="example-7">
       <select v-model="selected">
           <option v-for="option in options" v-bind:value="option.value">
               {{ option.text }}
           </option>
       </select>
       <span>Selected: {{ selected }}</span>
       <input
               type="checkbox"
               v-model="toggle"
               true-value="yes"
               false-value="no"
       >
   </div>
<script>
    new Vue({
        el: '#example-7',
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ],
            toggle: "yes"
        }
    })
    new Vue({
        el: '#example-6',
        data: {
            selected: []
        }
    })
    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    })
    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    })
    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })
    var vm = new Vue({
        el: "#app",
        data: {
            StyleObj: {
                color: 'black'
            },
            message: "",
            checked:[]
        },
        methods: {
            HandleDivClick : function () {
                if(this.StyleObj.color === 'red'){
                    this.StyleObj.color= 'black';
                } else {
                    this.StyleObj.color= 'red';
                }
            }
        }
    })
</script>
</body>
</html>