<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多组件过渡</title>
    <script src="../js/vue.js"></script>
    <!--<script src="../js/velocity.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="one" value="v-a" v-model="views"><label for="one">One</label>
        <input type="radio" id="two" value="v-b" v-model="views"><label for="two">Two</label>
        <transition name="fade" mode="out-in"
            @before-enter="beforeEnter"
                    @enter="enter"
                    @leave="leave"
                    v-bind:css="false"
        >
            <component :is="views">
            </component>
        </transition>
    </div>
<script>
    Vue.component('v-a',{
        template: "<div>Hello,A !!</div>"
    })
    Vue.component('v-b',{
        template: "<div>Hello,B!!</div>"
    })
    var vm = new Vue({
        el: "#app",
        data: {
            views:'v-a'
        },
        methods: {
            beforeEnter: function (el) {
                el.style.opacity = 0
                el.style.transformOrigin = 'left'
            },
            enter: function (el,done) {
                Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
                Velocity(el, { fontSize: '1em' }, { complete: done })
            },
            leave: function (el,done) {
                Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
                Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
                Velocity(el, {
                        rotateZ: '45deg',
                        translateY: '30px',
                        translateX: '30px',
                        opacity: 0
                    }),
                Velocity(el,{ complete: done })
            }
        }
    })
</script>
</body>
</html>